<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_smb._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_daap._tcp</string>
		<string>_home-sharing._tcp</string>
		<string>_rfb._tcp</string>
		<string>_companion-link._tcp</string>
		<string>_raop._tcp</string>
		<string>_sleep-proxy._udp</string>
		<string>_http._tcp</string>
	</array>
</dict>
</plist>
